<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>

        <!-- Common stylesheets -->
        <link rel="stylesheet" type="text/css" href="inc/styling/css/common.css" />
        <link rel="stylesheet" type="text/css" href="inc/styling/css/header.css" />

        <!-- Page specific stylesheets -->
        <link rel="stylesheet" type="text/css" href="inc/styling/css/index/index.css" />
        <link rel="stylesheet" type="text/css" href="inc/styling/css/index/modal.css" />

        <!-- Responsive stylesheets -->

    </head>
    <body>
        <div id="overlay"></div>
        <div id="modal"></div>

        <header>

            <div>
                <% if (loggedin) { %>
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                <% } else { %>
                    <a href="#" onclick="showLoginModal();"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                <% } %>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </header>



        <nav>
            <div class = "category">
                <p class = "navHead">Ingredienser</p>
                    <div>
                        <ul>
                            <li><a>Kød</a></li>
                            <li><a>Grønsager</a></li>
                            <li><a>Frugt</a></li>
                            <li><a>Mælkeprodukter</a></li>
                        </ul>
                    </div>
                </div>

            <div class = "category">
                <p class = "navHead">Opskrifter</p>
                <div>
                <ul>
                    <li>Vegetar</li>
                    <li>Fisketar</li>
                    <li>Veganer</li>
                    <li>Kødretter</li>
                    <li>Supper</li>
                    <li>Deserter</li>
                </ul>
                </div>
            </div>

        </nav>

        <div class = "itemField">
            <div class = "item">

                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>

            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>
            </div>

            <div class = "item">
                <img></img>
                <h1>Item Title</h1>
            </div>

        </div>



    <script src="inc/styling/js/index/index.js"></script>
    </body>
<!--  Mie  -->
    <footer>
        <p>Har du brug for hjælp? Kontakt os her</p>
        <p>Telefon: 12345678</p>
        <p>Email: madkassen@info.dk</p>
        <p>Copyright &copy; 2024</p>
    </footer>
</html>