<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>

        <!-- Common stylesheets -->

        <!-- Page specific stylesheets -->
        <link rel="stylesheet" type="text/css" href="inc/styling/css/index/indexs.css" />

        <!-- Responsive stylesheets -->

    </head>
    <body>
        <p>index</p>
        <script src="inc/styling/js/index/index.js"></script>
    </body>
</html>