<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>

        <!-- Common stylesheets -->

        <!-- Page specific stylesheets -->
        <link rel="stylesheet" type="text/css" href="inc/styling/css/index/index.css" />

        <!-- Responsive stylesheets -->

    </head>
    <body>
        <p>index</p>
        <script src="inc/styling/js/index/index.js"></script>




        <nav>
            <div class = "category">
                <p class = "navHead">Ingredienser</p>
                    <div    >
                        <ul>
                            <li>Kød</li>
                            <li>Grønsager</li>
                            <li>Frugt</li>
                            <li>Mælkeprodukter</li>
                        </ul>
                    </div>
                </div>

            <div class = "category">
                <p class = "navHead">Opskrifter</p>
                <div>
                <ul>
                    <li>Vegetar</li>
                    <li>Fisketar</li>
                    <li>Veganer</li>
                    <li>Kødretter</li>
                    <li>Supper</li>
                    <li>Deserter</li>
                </ul>
                </div>
            </div>

        </nav>

        <div class = "itemField">
            <div class = "item">
                <img src = "missingImage>:("></img>
                <h1>Item Title</h1>


            </div>


        </div>



    <script src="inc/styling/js/index/index.js"></script>
    </body>
</html>