<!-- Kasper & Anya -->

<html>
<head>
    <!-- Ensures the webpage is responsive on mobile devices by setting the viewport width to device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- Link to external W3.CSS library for styling -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Link to external FontAwesome script for using icons -->
    <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>

    <!-- Common stylesheets for consistent styling across multiple pages -->
    <link rel="stylesheet" type="text/css" href="inc/styling/css/common.css" />
    <link rel="stylesheet" type="text/css" href="inc/styling/css/header.css" />
    <link rel="stylesheet" type="text/css" href="inc/styling/css/footer.css" />

    <!-- Page-specific stylesheet for the register page -->
    <link rel="stylesheet" type="text/css" href="inc/styling/css/register/register.css" />

    <!-- Placeholder for responsive stylesheets (if needed for specific screen sizes) -->

</head>
<body>
<div id="swp">
    <!-- Server-side logic to display error messages if there are any -->
    <% if (locals.messages != null) { %>
        <% let messages = Array(locals.messages); messages.forEach((m) => { %>
            <div class="w3-panel w3-red" id="alert"><p><%= m.info %></p></div>
    <% })} %>

    <!-- Registration form starts here -->
    <form action="/register" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" method="POST">
        <h2 class="w3-center">Register</h2>

        <!-- First Name and Last Name input fields -->
        <div class="w3-row w3-section">
            <!-- User icon -->
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-half" id="fname">
                <!-- First Name input -->
                <input class="w3-input w3-border" name="first_name" type="text" placeholder="First Name">
            </div>
            <div class="w3-half" id="lname">
                <!-- Last Name input -->
                <input class="w3-input w3-border" name="last_name" type="text" placeholder="Last Name">
            </div>
        </div>

        <!-- Username input field -->
        <div class="w3-row w3-section">
            <!-- User icon -->
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
                <!-- Username input -->
                <input class="w3-input w3-border" name="name" type="text" placeholder="Username">
            </div>
        </div>

        <!-- Email input field -->
        <div class="w3-row w3-section">
            <!-- Key icon for email (could also use an envelope icon) -->
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-key"></i></div>
            <div class="w3-rest">
                <!-- Email input -->
                <input class="w3-input w3-border" name="email" type="email" placeholder="email">
            </div>
        </div>

        <!-- Password input field -->
        <div class="w3-row w3-section">
            <!-- Key icon for password -->
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-key"></i></div>
            <div class="w3-rest">
                <!-- Password input -->
                <input class="w3-input w3-border" name="password" type="password" placeholder="Password">
            </div>
        </div>

        <!-- Submit button -->
        <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding" type="submit">Register</button>
    </form>
</div>

<!-- Link to external JavaScript file for the registration page -->
<script src="inc/styling/js/register/register.js"></script>
</body>
</html>