@keyframes dropDownMenu {

    0%   {
        height: 0%;
        font-size: 0%;
    }
    100%   {
        height: 30%;
        font-size: 2vh;
    }
}

@keyframes dropDownMenuClose {

    100%   {
        height: 0%;
        font-size: 0%;
    }
    0%   {
        height: 30%;
        font-size: 2vh;
    }
}