/* Nicolai, Anya & Mie */

:root {
    --primaryColor: #2ED138;
    --secondaryColor: #58DA60;

}

/* Ensure the html and body take the full height of the viewport */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Use flexbox layout on body to ensure the footer stays at the bottom */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes the footer to the bottom */
}

nav {
    float: left;
    width: 15%;
    background-color: var(--secondaryColor);
}

@keyframes dropDownMenu {

    0%   {
        height: 0%;
        font-size: 0%;
    }
    100%   {
        height: 30%;
        font-size: 2vh;
    }
}

@keyframes dropDownMenuClose {

    100%   {
        height: 0%;
        font-size: 0%;
    }
    0%   {
        height: 30%;
        font-size: 2vh;
    }
}

@keyframes hoverOverItem {
    0% {
        border-style: solid;
        border-width: 0px;
    }
    100% {
        border-style: solid;
        border-width: 5px;
    }
}

@keyframes makePrimaryColor {
    0% {
        background-color: var(--secondaryColor);
    }
    100% {
        background-color: var(--primaryColor);
    }
}

.category {
background-color: var(--primaryColor);}

.category ul{
    height: 0%;
    font-size: 0%;


   animation: dropDownMenuClose 1.0s ease-in-out forwards;

    /*animation: dropDownMenu 1s ease-in-out reverse running;*/

}

.category:hover div>ul {
    animation-play-state: paused;
    animation: dropDownMenu 1.0s ease-in-out forwards;
    /*animation: dropDownMenu 1s ease-in-out running;*/
}

.navHead {
    font-size: 140%;
}

.item {


    float: left;
    background-color: var(--secondaryColor);
    width: 24%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 0% 0% 15% 0%;

}

.item p {
    float: right;
}

.item h1 {
    padding-left: 10%;
}

.item:hover {

    animation: makePrimaryColor 0.1s ease-in forwards;

}

.item img {
    width: 160px;
    height: 160px;
    margin-left: 5%;
    float: left;

}

.itemField {
    float: right;
    width: 80%;
    margin-right: 2.5%;
    animation: hoverOverItem 1.0s ease-in-out forwards;
}

footer {
    margin-top: auto;
    background-color: #125789;
    padding: 10px;
    text-align: center;
}