/* Nicolai, Anya & Mie */

:root {
    --primaryColor: #2ED138;
    --secondaryColor: #58DA60;
}



nav {
    float: left;
    width: 200px;
    background-color: var(--primaryColor);
    padding: 15px;
}

nav li {
    list-style: none;
}

nav>.category>div {
    display: none;
}






.navHead {
    font-size: 140%;
}

.item {
    float: left;
    background-color: var(--secondaryColor);
    width: calc(33% - 30px);
    margin: 15px;
    border-bottom-right-radius: 15%;

}

.item p {
    float: right;
}

.item h1 {
    padding-left: 10%;
}

.item:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
}

.item img {
    width: 160px;
    height: 160px;
    margin-left: 5%;
    float: left;

}

.itemField {
    float: right;
    width: calc(100% - 200px);
    margin-top: 15px;
    margin-bottom: 15px;
}