/* Kasper */

/* Overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Modal */
#modal {
    display: none;
}

/* Account Modal */
.accountModal {
    position: fixed;
    top: 50px;
    left: 0;
    width: 50%;
    margin-left: 25%;
    z-index: 2;
    color: #333;
}

.accountModal>form {
    position: relative;
    top: 0;
    left: 0;
}

.accountModal>form>i {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.accountModal>form>i:hover {
    color: #2196F3;
}